/* Aplica un fondo gris suave similar al footer */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ECEFF1; /* Gris suave */
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Fondo gris aplicado a toda la app */
  background-color: #ECEFF1; /* Asegúrate de que coincida con el gris del footer */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Asegurar que el fondo sea blanco en dispositivos móviles */
@media screen and (max-width: 768px) {
  body {
    background-color: white !important;
  }
}